body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    background-color: azure;
    margin: 50px 5%;
}

h1 {
    font-size: 36px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
}

.recipe-list {
    display: block;
}

.recipe-link {
    text-decoration: none;
}

.recipe-name {
    text-align: center;
    color: black;
    font-weight: 700;
}

.recipe {
    display: inline-block;
    background: aquamarine;
    width: 225px;
    padding: 0px 10px 10px 10px;
    border: 2px solid black;
}

.recipe-picture {
    width: 100%;
}

.button{
    background-color: aquamarine;
    color: black;
    border: 2px solid black;
    padding: 10px;
    line-height: 3;
    text-decoration: none;
}